# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# DLAWEB
engine/accueil/config/config.php
engine/accueil/config/database.php 
engine/annuaire/config/config.php
engine/annuaire/config/database.php 
engine/base_loisirs/config/config.php
engine/base_loisirs/config/database.php 
engine/cosc/config/config.php
engine/cosc/config/database.php 
engine/home/config/config.php
engine/home/config/database.php 
engine/phototheque/config/config.php
engine/phototheque/config/database.php 
engine/qhse/config/config.php
engine/qhse/config/database.php 

