input.DatePicker{
	font-size:11px;
	width: 80px;
	padding: 2px 2px 2px 4px;

	background: #fff url(../../assets/images/calendar-blue.png ) no-repeat top right;
	cursor: pointer;
}
input:focus.DatePicker{
	background: #fffce9 url(../../assets/images/calendar-blue.png) no-repeat top right;
}
.dp_container{
	position: relative;
	padding: 0;
	z-index: 500;
}
.dp_cal{
	background-color: #fff;
	border: 1px solid #0070bf;
	position: absolute;
	width: 177px;
	top: 24px;
	left: 0;
	margin: 0px 0px 3px 0px;
}
.dp_cal table{

	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.dp_cal select{
	margin: 2px 3px;
	font-size: 11px;
}
.dp_cal select option{
	padding: 1px 3px;
}
.dp_cal th,
.dp_cal td{
	width: 14.2857%;
	text-align: center;
	font-size: 11px;
	padding: 2px 0;
}
.dp_cal th{
	border: solid #aad4f2;
	border-width: 1px 0;
	color: #797774;
	background: #daf2e6;
	font-weight: bold;
}
.dp_cal td{
	cursor: pointer;
}
.dp_cal thead th{
	background: #d9eefc;
	background: #69c;
	background: url(/module/image/legacy/bg_table_th.png) ;
}
.dp_cal td.dp_roll{
	/*color: #000;*/
	background: #fff6bf;
}
/* must have this for the IE6 select box hiding */
.dp_hide{
	visibility: hidden;
}
.dp_empty{
	background: #eee;
}
.dp_today {
	/*background: #daf2e6;*/
	background: #ccc;
}
.dp_selected{
	color: #fff;
	background: #328dcf;
	background: #69c;
	background: #f90;
}

