#top_site {
	DISPLAY: none; VISIBILITY: hidden
}
#top_menu {
	DISPLAY: none; VISIBILITY: hidden
}
#MyScroll {
	DISPLAY: none; VISIBILITY: hidden
}
#left_menu {
	DISPLAY: none; VISIBILITY: hidden
}
#body {
	WIDTH: 99%
}
