.left_menu {

	border: 1px solid #999;
	margin: 0px 0px 0px 10px;
	padding: 0px;

	overflow: visible;
	width: 150px;
	visibility: visible;

	font-family: trebuchet, helvetica, arial, sans-serif;
	font-size: 11px;
	color: #fff;
	line-height: 18px;

}


.deposit {

	border: 1px solid #999;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:white;

}



.left_menu li {

	border: 1px solid #999;
	margin:-1px;

	text-decoration: none;
	text-align: left;
	font-weight: bold;

	list-style-type:none;

}


.left_menu li a, .left_menu h3, .leftmenuspan {

	width: 140px;

	margin: 0px;
	padding: 0 0px 0 10px;

	display: block;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.leftmenuspan {

	padding: 0;

}

* html .left_menu li a, * html .left_menu h3 {width:150px}


.left_menu li a:hover{
	color:#036;
	background: #fff;
}

.left_menu .level1, .left_menu h3 {
	background: #369;
}

.left_menu .level2 {
	background: #69c;
}

.left_menu .level3 {
	background: #9cf;
	padding-left: 20px;
	width:130px;
	text-indent:0;
}
* html .left_menu .level3 {width:150px}

.left_menu h3 {
	cursor:default;
}
.left_menu li.level1selected, .left_menu a.level1selected, .left_menu li.level2selected, .left_menu a.level2selected {
	background: #f50;
}

.left_menu li.level2selected, .left_menu a.level2selected {	background: #f90; }

.left_menu li.level3selected, .left_menu a.level3selected {
	width: 150px;
	padding-left: 10px;
	background: #fb0;
	list-style-type:disc;
	padding-left: 15px;
}



.left_menu a.img_news {

	background-image: url(../../assets/images/new.gif);
	background-position: right center;
	background-repeat: no-repeat;

}


.left_menu a.left_news {

	background-image: url(../../assets/images/new-text.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;

}
