* {
	margin: 0px; padding: 0px; border: 0px currentColor; font-family: trebuchet, helvetica, arial, sans-serif; font-size: 11px; z-index: 0;
}
div.clearer {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
body {
	background: rgb(0, 51, 102); margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
font {
	font-family: trebuchet, helvetica, arial, sans-serif;
}
ol {
	margin-left: 10px;
}
li {
	margin-left: 15px;
}
input {
	margin: 0px; padding: 1px; border: 1px solid rgb(194, 211, 252);
}
select {
	border: 1px solid rgb(194, 211, 252); font-family: trebuchet, helvetica, arial, sans-serif; font-size: 11px; z-index: 0;
}
span {
	font-family: trebuchet, helvetica, arial, sans-serif; z-index: 0;
}
textarea {
	padding: 1px; border: 1px solid rgb(194, 211, 252);
}
a {
	color: rgb(255, 255, 255);
}
a:hover {
	color: rgb(255, 153, 0);
}
#error {
	color: rgb(255, 0, 0); font-family: trebuchet, helvetica, arial, sans-serif; font-size: 20px;
}
#connection {
	margin: 0px; padding: 10px; border: 0px currentColor; color: rgb(255, 255, 255); font-size: 30px; border-collapse: collapse;
}
#connection td {
	padding: 2px; border: 1px currentColor; color: rgb(255, 255, 255);
}
#connection .label {
	padding: 1px; color: rgb(255, 255, 255); font-weight: bold;
}
#connection a#forgot_password {
	background: url("/module/image/shadowless/user-silhouette-question.png") no-repeat left; padding: 1px 5px 1px 18px !important; color: black;
}
div#popup_contact h1 {
	margin: 0.3em; text-align: center; color: white; font-size: 1.5em;
}
div#popup_contact p.contact_info {
	margin: 1em 0.3em 0.5em; text-align: left; color: white; font-style: italic;
}
div#popup_contact table.contact_form {
	color: white; font-weight: bold; border-collapse: collapse;
}
div#popup_contact table.contact_form td {
	padding: 0.1em; text-align: left;
}
div#popup_contact table.contact_form td.label {
	text-align: right; padding-right: 0.3em; vertical-align: top;
}
div#popup_contact table.contact_form .readwrite {
	border: 1px solid rgb(102, 153, 204); background-color: rgb(255, 255, 170);
}
div#popup_contact table.contact_form .readwrite:focus {
	background-color: rgb(255, 255, 102);
}
div#popup_contact strong {
	color: rgb(255, 51, 34);
}
#logout {
	color: rgb(153, 204, 255); font-size: 12px; font-weight: bold; text-decoration: none;
}
#logout a:hover {
	color: rgb(153, 204, 255); font-size: 12px; font-weight: bold; text-decoration: none;
}
#module {
	height: 45px; text-align: center; color: rgb(255, 153, 0); text-transform: uppercase; font-family: trebuchet, helvetica, arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bolder; text-decoration: none; vertical-align: top;
}
#body {
	margin: 0px; padding: 0px 10px; border: 0px currentColor;
}
table#tabMain {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 100%; border-collapse: collapse;
}
#contact {
	margin: 0px; padding: 0px; border: 0px currentColor; color: rgb(255, 255, 255); font-size: 11px; border-collapse: collapse;
}
#profile {
	margin: 0px 0px 12px 10px; padding: 0px; border: 1px solid rgb(153, 153, 153); width: 150px; color: rgb(255, 255, 255); overflow: visible; display: block; visibility: visible; background-color: transparent;
}
#out_of_hours_it_service {
	margin: 0px 0px 12px 10px; padding: 0px; border: 1px solid rgb(153, 153, 153); width: 150px; color: rgb(255, 255, 255); overflow: visible; display: block; visibility: visible; background-color: transparent;
}
fieldset#profile legend {
	margin: 0px; padding: 0px 0.2em; border: 0px currentColor; color: rgb(255, 153, 0); font-weight: bold; text-decoration: none; background-image: none; background-color: transparent;
}
fieldset#profile legend a {
	margin: 0px; padding: 0px 0.2em; border: 0px currentColor; color: rgb(255, 153, 0); font-weight: bold; text-decoration: none; background-image: none; background-color: transparent;
}
fieldset#out_of_hours_it_service legend {
	margin: 0px; padding: 0px 0.2em; border: 0px currentColor; color: rgb(255, 153, 0); font-weight: bold; text-decoration: none; background-image: none; background-color: transparent;
}
fieldset#profile legend a {
	margin: 0px; padding: 0px;
}
#profile a.list_ticket {
	padding: 1px 4px; text-align: left; color: rgb(255, 153, 0); font-weight: bold; display: block; background-color: rgb(0, 51, 102);
}
#out_of_hours_it_service a.list_ticket {
	padding: 1px 4px; text-align: left; color: rgb(255, 153, 0); font-weight: bold; display: block; background-color: rgb(0, 51, 102);
}
a.myprofile {
	padding: 1px 4px; text-align: left; color: white; font-size: 10px; display: block; background-color: rgb(0, 51, 102);
}
a.myprofile:hover {
	color: black; background-color: white;
}
a.link_contact {
	color: rgb(255, 153, 0);
}
a#contact_it_toggle {
	color: white; background-color: transparent;
}
a#contact_it_toggle:hover {
	color: white; background-color: transparent;
}
a#contact_site_toggle {
	color: white; background-color: transparent;
}
a#contact_site_toggle:hover {
	color: white; background-color: transparent;
}
span.contact_phone {
	font-weight: normal;
}
span#contact_it_info {
	width: 100%; float: left; display: none;
}
span#contact_site_info {
	width: 100%; float: left; display: none;
}
span.it_location {
	color: rgb(255, 153, 0);
}
#profile a.list_ticket:hover {
	color: black; text-decoration: none; display: block; background-color: white;
}
#out_of_hours_it_service a.list_ticket:hover {
	color: black; text-decoration: none; display: block; background-color: white;
}
#out_of_hours_it_service a.contact_email {
	background: url("/module/image/legacy/l_resume.gif") no-repeat -3px; padding: 0px 0px 0px 12px; color: white;
}
#out_of_hours_it_service a.contact_email:hover {
	color: rgb(255, 153, 0);
}
div.profile_content {
	padding: 0px 0px 0px 1.1em; font-size: 11px; font-weight: bold;
}
div.profile_content2 {
	margin: 4px 0px 8px; padding: 0px 0px 0px 1.1em; font-size: 10px;
}
#welcome {
	margin: 10px; padding: 10px; border: 0px currentColor; color: rgb(255, 255, 255); font-size: 30px; border-collapse: collapse;
}
ul#tabnav {
	margin: 0px; padding-bottom: 24px; font-family: trebuchet, helvetica, arial, sans-serif; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; list-style-type: none;
}
ul#tabnav li {
	margin: 1px 1px 0px; border: 1px solid rgb(204, 204, 204); height: 20px; float: left; background-color: rgb(170, 170, 170);
}
ul#tabnav li.active {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
#tabnav a {
	padding: 4px; color: rgb(255, 255, 255); font-size: 11px; text-decoration: none; float: left; display: block;
}
#tabnav a.selected {
	background: rgb(255, 153, 0); margin: 0px; border: 0px currentColor; height: 12px; display: block;
}
#tabnav a:hover {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
.action_insert {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_insert:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_update {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_update:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_rights {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_rights:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_flag {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_flag:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_delete {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_delete:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_plus {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_plus:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_download {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_download:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_upload {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
a.action_upload:hover {
	background-position: left; padding: 0px 5px 0px 10px; border: 0px currentColor; width: auto; height: 20px; color: rgb(0, 0, 0); font-weight: bold; text-decoration: none; background-repeat: no-repeat;
}
.action_insert {
	background-image: url("/module/image/legacy/fleche-noire-droite.gif");
}
.action_plus {
	background-image: url("/module/image/legacy/icon_plus.png");
}
.action_update {
	background-image: url("/module/image/legacy/b_edit.png");
}
.action_delete {
	background-image: url("/module/image/legacy/b_drop.png");
}
.action_rights {
	background-image: url("/module/image/legacy/s_rights.png");
}
.action_flag {
	background-image: url("/module/image/legacy/flag.png");
}
.action_download {
	padding: 0px 8px 0px 10px; background-image: url("/module/image/legacy/download.gif");
}
a.action_download:hover {
	padding: 0px 8px 0px 10px; background-image: url("/module/image/legacy/download.gif");
}
.action_upload {
	padding: 0px 8px 0px 10px; background-image: url("/module/image/legacy/upload.gif");
}
a.action_upload:hover {
	padding: 0px 8px 0px 10px; background-image: url("/module/image/legacy/upload.gif");
}
.button_default {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_default {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_default:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_submit {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_submit {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_submit:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_insert {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_insert {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_insert:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_cancel {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_cancel {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_cancel:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_delete {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_delete {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_delete:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_plus {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_plus {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_plus:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_save {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_save {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_save:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_valid {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_valid {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_valid:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_reject {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_reject {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_reject:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_update {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_update:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_update {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_print {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_print:hover {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
a.button_print {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_search {
	background-position: left; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(0, 0, 0) rgb(0, 0, 0) rgb(255, 255, 255); height: 20px; color: rgb(0, 0, 0); text-transform: capitalize; font-weight: bold; text-decoration: none; background-repeat: no-repeat; background-color: rgb(255, 204, 153);
}
.button_insert {
	padding: 1px 5px 0px 19px; background-image: url("/module/image/legacy/fleche-noire-droite.gif"); background-color: rgb(255, 204, 0);
}
a.button_insert {
	padding: 1px 5px 0px 19px; background-image: url("/module/image/legacy/fleche-noire-droite.gif"); background-color: rgb(255, 204, 0);
}
a.button_insert:hover {
	padding: 1px 5px 0px 19px; background-image: url("/module/image/legacy/fleche-noire-droite.gif"); background-color: rgb(255, 204, 0);
}
.button_default {
	padding: 2px 5px 0px 18px; background-image: url("/module/image/legacy/fleche-noire-droite.gif");
}
a.button_default {
	padding: 2px 5px 0px 18px; background-image: url("/module/image/legacy/fleche-noire-droite.gif");
}
a.button_default:hover {
	padding: 2px 5px 0px 18px; background-image: url("/module/image/legacy/fleche-noire-droite.gif");
}
.button_save {
	padding: 1px 2px 0px 17px; background-image: url("/module/image/legacy/b_save.png"); background-color: rgb(255, 204, 153);
}
a.button_save {
	padding: 1px 2px 0px 17px; background-image: url("/module/image/legacy/b_save.png"); background-color: rgb(255, 204, 153);
}
a.button_save:hover {
	padding: 1px 2px 0px 17px; background-image: url("/module/image/legacy/b_save.png"); background-color: rgb(255, 204, 153);
}
.button_reject {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 204, 153);
}
a.button_reject {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 204, 153);
}
a.button_reject:hover {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 204, 153);
}
.button_valid {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_on.png"); background-color: rgb(255, 204, 153);
}
a.button_valid {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_on.png"); background-color: rgb(255, 204, 153);
}
a.button_valid:hover {
	padding: 1px 4px 0px 15px; background-image: url("/module/image/legacy/check_on.png"); background-color: rgb(255, 204, 153);
}
.button_submit {
	padding: 1px 5px 0px; background-color: rgb(255, 204, 0);
}
a.button_submit {
	padding: 1px 5px 0px; background-color: rgb(255, 204, 0);
}
a.button_submit:hover {
	padding: 1px 5px 0px; background-color: rgb(255, 204, 0);
}
.button_update {
	padding: 2px 2px 0px 17px; background-image: url("/module/image/legacy/b_edit.png"); background-color: rgb(255, 204, 153);
}
a.button_update {
	padding: 2px 2px 0px 17px; background-image: url("/module/image/legacy/b_edit.png"); background-color: rgb(255, 204, 153);
}
a.button_update:hover {
	padding: 2px 2px 0px 17px; background-image: url("/module/image/legacy/b_edit.png"); background-color: rgb(255, 204, 153);
}
.button_delete {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
a.button_delete {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
a.button_delete:hover {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
.button_cancel {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
a.button_cancel {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
a.button_cancel:hover {
	padding: 2px 0px 0px 15px; background-image: url("/module/image/legacy/check_off.png"); background-color: rgb(255, 153, 153);
}
.button_download {
	padding: 1px 5px 0px 19px; background-image: url("/module/image/legacy/download.gif");
}
.button_print {
	background: url("/module/image/legacy/b_print.png") no-repeat 2px rgb(255, 204, 0); padding: 1px 5px 0px 16px;
}
a.button_print {
	background: url("/module/image/legacy/b_print.png") no-repeat 2px rgb(255, 204, 0); padding: 1px 5px 0px 16px;
}
a.button_print:hover {
	background: url("/module/image/legacy/b_print.png") no-repeat 2px rgb(255, 204, 0); padding: 1px 5px 0px 16px;
}
.button_search {
	background: url("/module/image/legacy/b_search.png") no-repeat 2px rgb(255, 204, 0); padding: 1px 5px 0px 16px;
}
.tpl_button_neutral {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_default {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_add {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_insert {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_cancel {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_save {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_submit {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_delete {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_edit {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_update {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_search {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_validate {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_user_edit {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_user_cancel {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_user_delete {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_export_excel {
	background-position: 4px; border-width: 1px; border-style: solid; border-color: silver gray gray silver; padding: 4px 4px 4px 24px; border-radius: 4px; color: rgb(68, 68, 68) !important; text-transform: capitalize; font-family: Arial, Sans-serif; font-weight: bold; text-decoration: none; vertical-align: middle; cursor: default; background-repeat: no-repeat; background-color: rgb(255, 221, 102); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.tpl_button_neutral:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_default:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_add:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_insert:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_cancel:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_save:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_submit:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_delete:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_edit:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_update:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_search:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_validate:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_user_edit:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_user_cancel:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_user_delete:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_export_excel:hover {
	border: 1px solid black; color: black !important; cursor: pointer;
}
.tpl_button_neutral {
	padding-left: 4px !important; background-image: none; background-repeat: no-repeat;
}
.tpl_button_default {
	padding-left: 4px !important; background-image: none; background-repeat: no-repeat;
}
.tpl_button_add {
	background-image: url("/module/image/shadowless/plus-circle.png");
}
.tpl_button_insert {
	background-image: url("/module/image/shadowless/plus-circle.png");
}
.tpl_button_cancel {
	background-image: url("/module/image/general/undo_16_8b.png"); background-color: rgb(249, 183, 163);
}
.tpl_button_save {
	background-image: url("/module/image/general/save_floppy_blue.png");
}
.tpl_button_submit {
	background-image: url("/module/image/general/save_floppy_blue.png");
}
.tpl_button_delete {
	background-image: url("/module/image/shadowless/cross-script.png"); background-color: rgb(249, 183, 163);
}
.tpl_button_edit {
	background-image: url("/module/image/general/sc_dsbeditdoc_blue.gif");
}
.tpl_button_update {
	background-image: url("/module/image/general/sc_dsbeditdoc_blue.gif");
}
.tpl_button_eraser {
	background-image: url("/module/image/legacy/b_erase.gif");
}
.tpl_button_search {
	background-image: url("/module/image/shadowless/magnifier-zoom.png");
}
.tpl_button_user_edit {
	background-image: url("/module/image/legacy/b_usredit.png");
}
.tpl_button_validate {
	background-image: url("button_ok.gif");
}
.tpl_button_user_cancel {
	background-image: url("/module/image/legacy/s_cancel.png");
}
.tpl_button_user_delete {
	background-image: url("/module/image/legacy/b_usrdrop.png");
}
.tpl_button_export_excel {
	background-image: url("/module/image/shadowless/document-excel.png");
}
.form {
	margin: 10px; padding: 10px; border: 0px currentColor; color: rgb(255, 255, 255);
}
.form td {
	padding: 2px; border: 1px solid rgb(221, 221, 221); color: rgb(0, 0, 0);
}
.form .label {
	padding: 1px; border: 1px solid rgb(255, 255, 255); font-weight: bold; background-color: rgb(238, 238, 238);
}
.form caption {
	padding: 10px 0px; text-align: left; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold;
}
.table {
	margin: 0px; border: 1px solid rgb(0, 51, 102); color: rgb(0, 0, 0); font-size: 11px; border-collapse: collapse; background-color: rgb(255, 255, 255);
}
.form {
	margin: 0px; border: 1px solid rgb(0, 51, 102); color: rgb(0, 0, 0); font-size: 11px; border-collapse: collapse; background-color: rgb(255, 255, 255);
}
.table th {
	padding: 2px; border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); text-transform: none; font-size: 11px; font-variant: small-caps; font-weight: bold; background-color: rgb(102, 153, 204);
}
.form th {
	padding: 2px; border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); text-transform: none; font-size: 11px; font-variant: small-caps; font-weight: bold; background-color: rgb(102, 153, 204);
}
.table td {
	padding: 2px; border: 1px solid rgb(0, 0, 0);
}
.table .label {
	padding-left: 5px; font-weight: bold;
}
.form .label {
	padding-left: 5px; font-weight: bold;
}
.table caption {
	margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold;
}
.form caption {
	margin: 0px; padding: 0px; text-align: left; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold;
}
.form a {
	color: rgb(0, 0, 0);
}
.table a {
	color: rgb(0, 0, 0);
}
.table .altcol {
	background-color: rgb(221, 221, 221);
}
.favorite {
	background-image: url("/module/image/legacy/icon_plus.png");
}
td.none {
	border: 0px currentColor; background-color: rgb(0, 51, 102);
}
.news {
	margin: 2px; padding: 20px; border: 1px solid rgb(204, 204, 204); color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(0, 51, 102);
}
.news .title {
	margin: 15px 0px; text-align: center; font-size: 18px;
}
.blink {
	background: rgb(0, 51, 102);
}
input.autocompletion {
	width: 279px; padding-left: 18px; _width: 278px;
}
input.autocompletion_load {
	width: 279px; padding-left: 18px; _width: 278px;
}
.autocompletion {
	background: url("/module/image/legacy/b_usrlist.png") no-repeat left;
}
.autocompletion_load {
	background: url("/module/image/general/waiting_blue.gif") no-repeat left !important;
}
.autocompletion_doc {
	background: url("/module/image/legacy/document.png") no-repeat left white !important;
}
.autocompletion input {
	padding: 0px 0px 0px 18px; width: 100%; overflow: hidden; display: block; _width: 94%;
}
.msg_to_user {
	margin: 1em 0px; padding: 0.5em 0.5em 0.5em 2.2em; color: black; font-weight: normal; background-color: rgb(204, 204, 204);
}
.msg_success {
	background: url("/module/image/legacy/s_okay.png") no-repeat 0.5em 50% white; border: 2px solid green; color: green;
}
.msg_error {
	background: url("/module/image/legacy/s_error.png") no-repeat 0.5em 50% white; border: 2px solid red; color: red;
}
.msg_info {
	background: url("/module/image/legacy/l_info.gif") no-repeat 6px rgb(232, 232, 255); margin: 0px 0.3em; padding: 0.5em 0.5em 0.5em 26px; border: 1px solid black; font-size: 0.85em;
}
div#tpl_scroller_wrapper {
	height: 16px; text-align: center; overflow: hidden; visibility: hidden; position: relative;
}
div#tpl_scroller {
	left: 0px; top: 0px; width: 100%; color: rgb(255, 153, 0); font-family: arial; font-size: 12px; position: absolute;
}
div#tpl_info_top {
	height: 16px; text-align: center; overflow: hidden; visibility: hidden; position: relative;
}
.tpl_info_top_list {
	left: 0px; top: 0px; width: 100%; color: rgb(255, 153, 0); font-family: arial; font-size: 12px; position: absolute;
}
#tpl_scroller_articles {
	border-radius: 6px; filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#cccccc'); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.tpl_scroller_article {
	
}
a.send_mail {
	background: url("/module/image/legacy/mail_replay.gif") no-repeat; padding: 1px 0px 1px 20px;
}
.bulle {
	margin: 2px; padding: 2px; border: 1px solid black; width: 35px; text-align: center; color: black; font-family: Arial; font-size: 8pt; display: none; position: absolute; z-index: 1; cursor: pointer; background-color: rgb(244, 244, 156);
}
.bulle2 {
	margin: 2px; padding: 2px; border: 1px solid black; width: 110px; text-align: center; color: black; font-family: Arial; font-size: 8pt; display: none; position: absolute; z-index: 1; cursor: pointer; background-color: rgb(244, 244, 156);
}
#tabsF {
	border: 0px currentColor; width: 100%; line-height: normal;
}
.tabsF {
	border: 0px currentColor; width: 100%; line-height: normal;
}
#tabsF ul {
	list-style: none; margin: 0px; padding: 0px 10px 0px 20px;
}
.tabsF ul {
	list-style: none; margin: 0px; padding: 0px 10px 0px 20px;
}
#tabsF li {
	margin: 0px; padding: 0px; display: inline;
}
.tabsF li {
	margin: 0px; padding: 0px; display: inline;
}
#tabsF a {
	background: url("/module/image/skin/blue/tableftF.gif") no-repeat left top; margin: 0px; padding: 0px 0px 0px 4px; text-decoration: none; float: left;
}
.tabsF a {
	background: url("/module/image/skin/blue/tableftF.gif") no-repeat left top; margin: 0px; padding: 0px 0px 0px 4px; text-decoration: none; float: left;
}
#tabsF a span.menu_tab {
	background: url("/module/image/skin/blue/tabrightF.gif") no-repeat right top; padding: 5px 15px 4px 6px; color: gray; font-weight: bold; float: left; display: block;
}
.tabsF a span.menu_tab {
	background: url("/module/image/skin/blue/tabrightF.gif") no-repeat right top; padding: 5px 15px 4px 6px; color: gray; font-weight: bold; float: left; display: block;
}
#tabsF a span.menu_tab {
	float: none;
}
.tabsF a span.menu_tab {
	float: none;
}
#tabsF a:hover {
	background-position: 0% -42px; position: relative;
}
.tabsF a:hover {
	background-position: 0% -42px; position: relative;
}
#tabsF a:hover span.menu_tab {
	background-position: 100% -42px; color: black; position: relative;
}
.tabsF a:hover span.menu_tab {
	background-position: 100% -42px; color: black; position: relative;
}
#tabsF .current a {
	background-position: 0% -42px;
}
.tabsF .current a {
	background-position: 0% -42px;
}
#tabsF .current a span.menu_tab {
	background-position: 100% -42px; color: black;
}
.tabsF .current a span.menu_tab {
	background-position: 100% -42px; color: black;
}
div#version_block {
	background: rgb(255, 255, 187); border-width: 2px 0px; border-style: solid none; border-color: rgb(169, 169, 169) currentColor; margin: 0px 0px 0.8em; padding: 6px; color: black;
}
div#version_expand {
	height: 100%; overflow: auto;
}
div#version_project {
	background: url("/module/image/legacy/status_activated.png") no-repeat 12px rgb(255, 255, 187); width: 41%; font-size: 1.2em; font-weight: bold; float: left;
}
div#version_remain {
	width: 41%; text-align: right; line-height: 1.5em; font-style: italic; float: right;
}
div#version_detail {
	width: 10%; text-align: center; color: blue; line-height: 1.5em; text-decoration: underline; float: left; display: block;
}
div#version_project {
	padding-left: 40px;
}
div#version_content {
	padding-left: 40px;
}
div#version_content {
	padding-top: 1em; display: none;
}
div#version_content a {
	color: blue; font-weight: bold; text-decoration: underline;
}
div#version_content table {
	color: black;
}
div#version_content table th {
	font-weight: bold;
}
table#version_user {
	margin: 1em auto auto;
}
table#version_user td {
	text-align: center; padding-right: 1em; padding-left: 1em; font-weight: bold;
}
a#version_guide {
	background: url("/module/image/legacy/pdf.gif") no-repeat left; padding: 2px 0px 2px 20px; line-height: 1.5em;
}
a#version_it_project {
	background: url("/module/image/legacy/pdf.gif") no-repeat left; padding: 2px 0px 2px 20px; line-height: 1.5em;
}
a#version_guide {
	background-image: url("/module/image/legacy/pdf.gif");
}
a#version_it_project {
	background: url("/module/image/legacy/b_view.png") no-repeat 2px;
}
a.version_button_view {
	background: url("/module/image/legacy/b_view.png") no-repeat 2px; padding: 2px 0px 2px 20px;
}
div#version_data {
	margin-bottom: 1em;
}
a.staff_link {
	background: url("/module/image/legacy/b_usrlist.png") no-repeat left top; padding-left: 18px; white-space: nowrap;
}
.people {
	background: url("/module/image/legacy/b_usrlist.png") no-repeat left top; padding-left: 18px; white-space: nowrap;
}
.DatePicker {
	background: url("/module/image/shadowless/calendar-blue.png") no-repeat right top !important; padding: 2px 2px 2px 4px !important;
}
a#tpl_edit_profile {
	background: url("/module/image/general/gtk_edit.png") no-repeat left; padding: 4px 5px 2px 22px; color: rgb(0, 51, 102); text-decoration: underline; white-space: nowrap;
}
.tpl_box_init_container {
	padding: 0px; border-radius: 8px 8px 0px 0px; width: 100%; margin-top: 0px; border-bottom-color: silver; border-bottom-width: 1px; border-bottom-style: solid; background-color: white;
}
.tpl_box_init_title {
	background: url("/module/image/skin/blue/top-bottom-80px.png") repeat-x left; margin: 0px; border-radius: 8px 8px 0px 0px; width: 100%; color: darkblue; padding-top: 5px; padding-bottom: 5px; font-size: 12pt; font-weight: bold;
}
.tpl_box_lightgrey {
	background-color: rgb(242, 246, 255);
}
.tpl_box_white {
	margin: 0px; padding: 0px; width: 100%; text-align: center; color: black; font-weight: bold;
}
.tpl_box_container_criteria {
	border-width: medium medium 1px; border-style: none none solid; margin: 0px; width: 100%; padding-top: 10px; padding-bottom: 8px; font-weight: normal; background-color: rgb(233, 238, 238); -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
}
.tpl_box_container_result {
	border: currentColor; width: 95%; padding-top: 10px; padding-bottom: 5px; margin-right: 5px; margin-bottom: 10px; min-height: 520px; min-width: 900px;
}
.tpl_content_list {
	width: 100%; float: left;
}
.tpl_tab_list_main {
	margin: 0px; border: 1px solid rgb(140, 172, 216); width: 100%; border-collapse: separate !important; background-color: white;
}
.tpl_tab_list_main .tpl_tr_title {
	background: url("/module/image/skin/blue/top-bottom-80px.png") repeat-x left; height: 2.5em;
}
.tpl_tab_list_main tr {
	margin: 0px; padding: 0px;
}
.tpl_tab_list_main .corner {
	border-left-color: currentColor !important; border-left-width: medium !important; border-left-style: none !important;
}
.tpl_tab_list_main th {
	border-width: medium medium 1px 1px; border-style: none none solid solid; text-align: center; color: gray; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
}
.tpl_tab_list_main td {
	padding-left: 5px;
}
.tpl_tab_list_main a {
	color: black;
}
.tpl_tab_list_main tr.odd td {
	background: 0px 50% rgb(255, 255, 255); border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
}
.tpl_tab_list_main tr.even td {
	background: 0px 50% rgb(237, 243, 254); border-top-color: rgb(232, 240, 255); border-right-color: rgb(232, 240, 255); border-bottom-color: rgb(232, 240, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
}
.tpl_tab_list_main ul.tpl_li_arrow li {
	background: url("/module/image/general/page_next.png") no-repeat 0px 0px; margin: 0px; padding: 1px 0px 1px 20px; list-style-type: none;
}
tr.tpl_line_color_0 {
	background-color: white;
}
tr.tpl_tr_selected td {
	background-color: rgb(212, 221, 238) !important;
}
li.tpl_tr_selected {
	background-color: rgb(212, 221, 238) !important;
}
.tpl_fieldset {
	margin: 3px; padding: 3px; border-top-color: rgb(0, 0, 136); border-top-width: 1px; border-top-style: solid;
}
.tpl_legend {
	margin: 5px; padding: 0px 5px; color: rgb(0, 0, 136); font-size: 14px; font-weight: bold;
}
.tpl_search_criteria {
	margin: 0px; border: 0px currentColor; width: 100%; border-collapse: separate !important;
}
.tpl_search_criteria tr {
	margin: 0px; padding: 0px;
}
.tpl_search_criteria th {
	text-align: right; color: rgb(102, 102, 102);
}
.tpl_search_criteria td {
	padding-left: 5px;
}
.tpl_input_wide {
	padding: 2px; border: 1px solid rgb(129, 166, 208); vertical-align: middle; background-color: rgb(213, 232, 235) !important;
}
.tpl_input_half_wide {
	padding: 2px; border: 1px solid rgb(129, 166, 208); vertical-align: middle; background-color: rgb(213, 232, 235) !important;
}
.tpl_input_quarter_wide {
	padding: 2px; border: 1px solid rgb(129, 166, 208); vertical-align: middle; background-color: rgb(213, 232, 235) !important;
}
.tpl_input_type {
	padding: 2px; border: 1px solid rgb(129, 166, 208); vertical-align: middle; background-color: rgb(213, 232, 235) !important;
}
.tpl_input_active {
	background-color: rgb(230, 249, 253) !important;
}
.tpl_input_wide:focus {
	background-color: rgb(230, 249, 253) !important;
}
.tpl_input_half_wide:focus {
	background-color: rgb(230, 249, 253) !important;
}
.tpl_input_quarter_wide:focus {
	background-color: rgb(230, 249, 253) !important;
}
.tpl_input_type:focus {
	background-color: rgb(230, 249, 253) !important;
}
.tpl_input_wide option {
	padding: 0px 4px;
}
.tpl_input_half_wide option {
	padding: 0px 4px;
}
.tpl_input_quarter_wide option {
	padding: 0px 4px;
}
.tpl_input_type option {
	padding: 0px 4px;
}
.tpl_input_wide {
	display: block;
}
.tpl_input_half_wide {
	display: block;
}
.tpl_input_quarter_wide {
	display: block;
}
.tpl_input_wide {
	width: 98% !important; _width: 96%;
}
.tpl_input_half_wide {
	width: 50% !important;
}
.tpl_input_quarter_wide {
	width: 25% !important;
}
label.tpl_chained_label {
	margin: 0px 0.6em 0px 0px; width: 60px; float: left; white-space: nowrap;
}
label.tpl_chained_label input {
	margin: 0px 0.3em 0px 0px; vertical-align: top;
}
.tpl_file {
	background: url("/module/image/shadowless/document.png") no-repeat left bottom; margin: 0px; padding: 2px 0px 2px 18px; color: rgb(0, 0, 255); line-height: 16px; font-size: 11px; display: inline;
}
.tpl_file_docx {
	background: url("/module/image/shadowless/document-word.png") no-repeat left bottom;
}
.tpl_file_doc {
	background: url("/module/image/shadowless/document-word.png") no-repeat left bottom;
}
.tpl_file_pptx {
	background-image: url("/module/image/shadowless/document-powerpoint.png");
}
.tpl_file_ppt {
	background-image: url("/module/image/shadowless/document-powerpoint.png");
}
.tpl_file_xlsx {
	background-image: url("/module/image/shadowless/document-excel.png");
}
.tpl_file_xls {
	background-image: url("/module/image/shadowless/document-excel.png");
}
.tpl_file_jpg {
	background-image: url("/module/image/shadowless/document-image.png");
}
.tpl_file_pdf {
	background-image: url("/module/image/shadowless/document-pdf.png");
}
.tpl_file_zip {
	background-image: url("/module/image/shadowless/document-zipper.png");
}
.tpl_skin_purple #tabsF a {
	background-image: url("/module/image/skin/purple/tableftF.gif") !important;
}
.tpl_skin_purple .tabsF a {
	background-image: url("/module/image/skin/purple/tableftF.gif") !important;
}
.tpl_skin_purple #tabsF a span.menu_tab {
	background-image: url("/module/image/skin/purple/tabrightF.gif") !important;
}
.tpl_skin_purple .tabsF a span.menu_tab {
	background-image: url("/module/image/skin/purple/tabrightF.gif") !important;
}
.tpl_skin_purple .tpl_box_init_title {
	background-image: url("/module/image/skin/purple/top-bottom-80px.png") !important;
}
.tpl_skin_purple .tpl_tab_list_main .tpl_tr_title {
	background-image: url("/module/image/skin/purple/top-bottom-80px.png") !important;
}
.site_manager_li li {
	padding-top: 1px; padding-bottom: 1px;
}
